decktape_io.egg-info
build
dist
decktape_io/elm/elm-stuff
decktape_io/elm/decktape_io.js
__pycache__
*pyc
.csearchindex
.hypothesis
.cache

# We might have a decktape installation hanging around. Ignore it.
decktape-1.0.0

decktape_io/webpack
node_modules
elm-stuff