language: python

matrix:
  include:
    - python: 3.5
  fast_finish: true

services: mongodb

install:
  - pip install --upgrade -r requirements.txt
  - python setup.py install

script:
  - pytest test
