amqp==2.0.3
appnope==0.1.0
billiard==3.5.0.0
celery==4.0.0rc3
Chameleon==2.24
decorator==4.0.10
hypothesis==3.5.1
ipython==5.1.0
ipython-genutils==0.1.0
kombu==4.0.0rc3
Mako==1.0.4
MarkupSafe==0.23
mock==2.0.0
mongomock==3.5.0
PasteDeploy==1.5.2
pbr==1.10.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.7
ptyprocess==0.5.1
py==1.4.31
Pygments==2.1.3
pymongo==3.3.0
pyramid==1.7.3
pyramid-chameleon==0.3
pyramid-debugtoolbar==3.0.4
pyramid-mako==1.0.2
pytest==3.0.2
python-Levenshtein==0.12.0
pytz==2016.6.1
repoze.lru==0.6
sentinels==1.0.0
simplegeneric==0.8.1
six==1.10.0
spark-parser==1.4.0
traitlets==4.3.0
translationstring==1.3
uncompyle6==2.8.3
venusian==1.0
vine==1.1.1
waitress==1.0.0
wcwidth==0.1.7
WebOb==1.6.1
xdis==2.3.1
zope.deprecation==4.1.2
zope.interface==4.3.1
